body {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: var(--body-blue);
}
.container {
    padding-left: 25px;
    padding-right: 25px;
}
.hide-on-mobile {
    display: none;
}
.global-section {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    overflow: hidden;
}
#index-svg-circle {
    position: absolute;
    z-index: 0;
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
}
.hero-section {
    width: 100%;
    height: 700px;
    padding-bottom: 75px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero-image {
    width: 100%;
    height: 100%;
    background-image: url("../assets/home/desktop/illustration-phone-mockup.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-section h1 {
    color: var(--san-juan-blue);
    font-weight: lighter;
}
.email-input input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.email-input button {
    width: 100%;
    margin-bottom: 20px;
}
.hero-section-content {
    text-align: center;
}
.info-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    text-align: center;
    color: var(--water-white);
    background-color: var(--mirage-blue);
    overflow: hidden;
}
.info-section h2 {
    margin-bottom: 20px;
}
.info-section p {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 40px;
}
.icons-grid {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    align-items: center;
    justify-items: center;
}
#info-section-svg {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 60%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
.svg-white {
    fill: #fff;
    background-color: #fff;
}
.svg-blue {
    fill: #36536B;
    background-color: #36536B;
}
.product-info {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.product-info img {
    position: relative;
    z-index: 3;
    width: 100%;
}
.product-info h2 {
    margin-bottom: 20px;
    color: var(--san-juan-blue);
}
.product-info p {
    color: var(--light-san-juan-blue);
}
.product-info-section {
    position: relative;
}
.icon-section {
    text-align: center;
}
.icon-section h3 {
    color: var(--san-juan-blue);
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon-block-margin {
    margin: 50px 0px;
}
.email-signup-section {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

/* pricing page */
.pricing-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 75px;
}
.pricing-column {
    text-align: center;
}
.pricing-table {
    width: 100%;
    margin: 20px 0px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    text-align: left;
    border-top: 1px solid var(--san-juan-blue);
    border-bottom: 1px solid var(--san-juan-blue);
}
.pricing-table svg {
    margin-right: 15px;
}
.vision-container {
    margin-bottom: 75px;
    text-align: center;
}
.vision-container h3 {
    margin-bottom: 30px;
}
.company-stats-container {
    margin: 75px 0px;
    padding: 50px 0px;
    text-align: center;
    border-top: 2px solid var(--san-juan-blue);
    border-bottom: 2px solid var(--san-juan-blue);
}
.form-icon-block {
    margin: 75px 0px;
}
.form-icon-block h3 {
    margin-bottom: 30px;
    text-align: center;
}
.form-icons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    align-items: center;
    justify-items: center;
}
@media screen and (min-width: 768px) {
    .hide-on-tablet {
        display: none;
    }
    .show-on-tablet {
        display: block;
    }
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
    .email-input {
        margin-top: 40px;
        margin-bottom: 20px;
        position: relative;
    }
    .email-input input {
        height: 45px;
        margin: 0px;
        position: relative;
    }
    .email-input button {
        margin: 0px;
        width: 175px;
        position: absolute;
        right: 0;
    }
    .icons-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pricing-section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 40px; 
    }
    .vision-container {
        display: grid;
        grid-template-columns: 2fr 4fr;
        text-align: left;
    }
    .company-stats-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .form-icons-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    .hide-on-desktop {
        display: none;
    }
    .display-on-desktop {
        display: block;
    }
    .container {
        padding-left: 125px;
        padding-right: 125px;
    }
    #index-svg-circle {
        top: -200px;
        left: 80%;
    }
    .hero-section {
        flex-direction: row;
        align-items: center;
    }
    .hero-image {
        order: 2;
    }
    .hero-content {
        text-align: left;
    }
    #info-section-svg {
        bottom: 30%;
        left: -25%x;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    .product-info-section {
        display: flex;
        align-items: center;
        text-align: left;
    }
    .product-info img {
        width: 50%;
    }
    .order-2 {
        order: 2;
    }
    .icon-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
    .icon-block-margin {
        margin: 0px;
    }
    .email-signup-section {
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .email-signup-section .email-input {
        width: 50%;
        margin: 0px;
    }
}
@media screen and (min-width: 1440px) {
    .container {
        padding-left: 165px;
        padding-right: 165px;
    }
    .info-section {
        display: flex;
        text-align: left;
    }
    .info-section p { 
        width: 100%;
        margin: 0 40px 40px 0;
    }
    .icons-grid {
        align-content: center;
        margin-left: 175px;
        margin-bottom: 0px;
        column-gap: 35px;
        order: 2;
    }
    .contact-form-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        align-items: center;
    }
}
